.bash_history
.bash_logout
.bashrc
.bundle/
.cache/
.config/
.gem/
.gitconfig
.init/
.ivy2/
.mysql_history
.profile
.pyenv/
.python_history
.rbenv/
.sbt/
.ssh/
.viminfo
.wget-hsts
alp
alp_linux_amd64.zip.1
gocode/
webapp/python/.vscode/
webapp/python/__pycache__/*
